.employee-div{
    /* background-color: aqua; */
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    height: max-content;
}
.emp-service{
    width: 100%;
    display: flex;
    height: 200px;
}

.emp-det{
    width: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}
.empt-det-2{
    /* margin-top: 10%; */
    width: 35%;
    /* background-color: saddlebrown; */
    height: 100%;
    
    
    
}
.avlt{
    /* margin-top: 10%; */
    padding-top: 16%;
    padding-bottom: 5%;
    /* padding-top: 20%; */
}
.empt-img{
    
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: black;
    margin-right: 2%;
    margin-left: 5%;
}
.empl{
    object-fit: contain;
    border-radius: 50%;
}
.catagory-sign{
    background-color: rgb(186, 138, 231);
    width: max-content;
    border-radius: 40%;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: small;
    font-family: monospace;
}
.empt-title{
    font-size:xx-large;
    font-weight: bold;
}
.empt-info-1{
    margin-top: 2%;
    margin-left: 2%;
    
}
.emp-description{
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    height: max-content;
}
.desc-emp{
    width: 65%;
    padding-left: 3%;
    padding-right: 3%;
    /* background-color: rgb(123, 36, 181); */
    /* height: 50%; */
}
.tittl{
    font-size: larger;
    /* padding-left: 10%; */
    padding-top: 2%;
    padding-bottom: 4%;
}
.similar{
    width: 35%;
    /* background-color:brown; */
    /* height: 300px; */
}
.similar-container{
    width: 100%; 
    height: 400px;
    overflow-y:scroll;
}
/* ::-webkit-scrollbar {
    display: none;
} */

.bookapointment{
    color: white;
    
    /* width: 60%; */
    background-color: blueviolet;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 15px;
    /* height: 30px; */
    /* text-align: center; */
}
.simser-container{
    display: flex;
    /* background-color: aqua; */
    margin-bottom: 5px;
    /* justify-content:space-between; */
}
.simser-img{
    width: 30%;
    /* height: 100%; */
    /* padding-left: 6%; */
    background-color: aqua;
}
.simser-des{
    width: 70%;
    padding-left: 6%;
}
