.catagory{
    margin-top: 1.5%;
    margin-bottom: 4%;
    height:70px;
    width: 60%;
    /* background-color: rgb(150, 99, 99); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.catagory-box{
    width: 10%;
    height: 90%;
    background-color: rgb(162, 48, 48);
}
.card-cat {
    height: 90%;
    width: 8%;
    /* background: rgb(195, 0, 0); */
    /* border-radius: 50%; */
  }
  
  .card-image {
    /* padding: auto; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    /* mix-blend-mode:color-burn; */

  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  .c-image{
    height: 95%;
    object-fit: contain;

    
    /* mix-blend-mode:color-burn; */
  }
  
  .heading {
    height: 20%;
    font-size:smaller;
    font-weight:600;
    text-align: center;
    color: rgb(88, 87, 87);
    
  }
  
  .heading:hover {
    cursor: pointer;
  }
