.fpart-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
.ftitle{
    font-size: x-large;
    /* margin-top: 9px; */
    margin-bottom: 9px;
    color: #f5f5f5;
}
.fdes{
    /* font-size:; */
    color: #f5f5f5;
}
.fpart-2{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;

}
.pt1,.pt2{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.ico{
  padding-right: 20px;
  
}

/* Universal Styles for ul */
ul {
    margin: 0px;
    padding: 0px;
  }
  
  /* Footer Section */
  .footer-section {
    background: #151414;
    position: relative;
  }
  
  /* Footer Call to Action (CTA) */
  .footer-cta {
    border-bottom: 1px solid #f5f5f5;
  }
  
  /* Individual Call to Action (CTA) Items */
  .single-cta {
    width: 30%;
    overflow-wrap: break-word;
  }
  
  /* Call to Action Text */
  .cta-text {
    padding-left: 15px;
  }
  
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  
  /* Footer Content */
  .footer-content {
    position: relative;
    z-index: 2;
  }
  
  /* Footer Pattern Image */
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .sub{
    font-size:10px;
    color: white;
  }
  
  /* Footer Logo */
  .footer-logo {
    margin-bottom: 10px;
  }
  
  .footer-logo img {
    max-width: 200px;
  }
  
  /* Footer Text */
  .footer-text p {
    margin-bottom: 14px;
    font-size: 30px;
    color: #7e7e7e;
    line-height: 28px;
  }
  .logo-imgd{
    width: 160px;
  }
  /* Footer Social Icons */
 
  

  

  /* Footer Widgets */
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
  }
  
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
  }
  
  .footer-widget ul li {
    display: inline-block;
    /* float: left; */
    width: 50%;
    /* margin-bottom:10px; */
  }
  
  .footer-widget ul li a:hover {
    color: #ff5e14;
  }
  
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .par{
    font-size: 600px;
  }
  
  /* Subscribe Form */
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
  }
  
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  
  /* Footer Section 1 */
  .foot-1, .foot-2 {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-between;
    padding-top: 20px;
    /* padding-bottom: 10px; */
  }
  .footer-widget{
    width: 40%;
  }
  
  .line {
    color: white;
  }
  
  /* Copyright Area */
  .copyright-area {
    background: #202020;
    padding: 0.2%;
    font-size: medium;
    text-align: center;
    color: #ff5e14;
  }
  
  /* Media Query for Mobile Devices */
  /* @media only screen and (max-width: 768px) {
    .single-cta {
        width: 33%;
    }
    .foot-1{
      padding-top: 15px;
      padding-bottom: 3px;
    }
    .cta-text h4 {
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 1px;
    }
    .cta-text span {
      color: #757575;
      font-size: 7px;
    }
  
    .footer-widget-heading h3 {
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 20px;
      position: relative;
    }
    .footer-text p{
      font-size: 12px;
    }
    .footer-widget ul li {
      font-size: 8px;
    }
  
  
    .footer-logo img {
        max-width: 100%;
    }
  
    .footer-pattern img {
        height: 200px;
    }
  
    .subscribe-form input {
        padding: 10px;
    }
  
    .subscribe-form button {
        width: 100%;
        margin-top: 10px;
    }
  }
   */